<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NLP App</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form id="urlForm">
          <label for="name">Enter a URL:</label>
          <input
            id="name"
            type="text"
            name="url"
            placeholder="Enter URL"
            required
          />
          <button id="submitButton" type="submit">Submit</button>
        </form>
      </section>

      <section id="results">
        <strong>Form Results:</strong>
        <!-- <div id="results"></div> -->
      </section>
    </main>

    <footer>
      <p>Powered by TextRazor API</p>
    </footer>
    <script src="bundle.js"></script>
  </body>
</html>
