
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
